<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        <h2>{{session.user.userName}} ( {{session.user.email}} ) History</h2>
        <hr />
        <table class="table">
            <tr>
                <th>Login Date/Time</th>
                <th>Client Information</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>{{dateTime}}</td>
                    <td>{{userAgent}}</td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4">No Data Available</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>